# Project exclude paths
/c_realisation/cmake-build-debug/
/c_realisation/CMakeLists.txt
.idea
/ddlog_c/ddlog_realisation/reachability_ddlog/
/ddlog_pacemaker/prog_ddlog
/pacemaker/prog_ddlog
/pacemaker/info
